<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.jpg">
    <title>Gestion_stock</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var encodedStr ="{{b}}";
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + encodedStr,'text/html');
        var decodedString = dom.body.textContent;
        decodedString=decodedString.slice(1,-1);
        console.log(decodedString)
        var obj=JSON.parse(decodedString);
        console.log(obj)
        var arr=Object.entries(obj);
        var data = google.visualization.arrayToDataTable(arr);

        var options = {
          width: 800,
          legend: { position: 'none' },
          chart: {
            title: 'Created by :',
            subtitle: 'ELAAROUB Abdellah & DAMOU Walid' },
          axes: {
            x: {
              0: { side: 'top', label: 'Statistiques des catégories'} // Top x-axis.
            }
          },
          bar: { groupWidth: "70%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>



</head>

<body>

    <header class="main_h">

        <div class="row">
            <a class="logout" href="/logout"><i class="fa fa-sign-out"></i></i></a>

            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <ul>
                    <li><a href="/statistiques" target="_blank">Statistiques</a></li>
                    <li><a href=".sec03">Notifications</a></li>
                    <li><a href=".sec01">Produits</a></li>
                    <li><a href=".sec02">admins</a></li>
                    
                </ul>
            </nav>

        </div>

    </header>

    <div class="hero">

        <h1><span>bienvenue dans votre espace</span><br>{{nomAdmin}}</h1>
        <div style="margin: auto; width: 140px; height: 170px;">
            <img style="width: 100%;border-radius: 5px; height: 100%; position: relative;" src="/static/images/{{imgAdmin}}" alt="{{imgAdmin}}">
        </div>

        <div class="mouse">
            <span></span>
        </div>

    </div>



    <!-- Notifications -->
    <div class="sec03">
        <h3 style="font-size:xx-large; text-align: center;color: blueviolet; margin-top: 50px;"> <span class="glyphicon glyphicon-bell"></span><b>Notifications ({{nbrNotifications}}) </b> </h3> 
    </div><br>
    <div id="notif" class="sec03" >
        <ul style="position: relative;">
        {% for e in faibless %}                
                <a style="position: relative;" class="list-group-item list-group-item-action btn" href="produit/{{e['_id']}}" target="_blank" >
                    
                    <b style="color: rgb(252, 143, 143); font-size: large; float:left;">Faible Produit :&nbsp;&nbsp;&nbsp;&nbsp;</b> 
                    <b style="color: rgb(0, 0, 0); font-size: large; float:left;">Numéro :&nbsp;&nbsp;</b> 
                    <b style="color: darkblue; font-size: large; float:left;">{{e['_id']}} </b>
                    <b style="position: absolute; left: 18%; color:rgb(0, 0, 0); font-size: large; float:left;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NomProduit :&nbsp;</b>  
                    <b style="position: absolute; left: 30%;color: darkblue; font-size: large; float:left;">&nbsp;{{e['nomProduit']}}</b>
                    <b style="position: absolute; right: 50%; color:rgb(0, 0, 0); font-size: large;float:left;">  categorie  : &nbsp;&nbsp;&nbsp;</b> 
                    <b style="position: absolute; left: 50%;color: darkblue; font-size: large;float: left;">{{e['categorie']}}</b>
                    <b style="position: absolute; right: 22%; color: rgb(0, 0, 0); font-size: large;float: left;"> Quantité actuelle : </b> 
                    <b style="position: absolute; right: 19%;color: darkblue; font-size: large; float: left;">&nbsp;&nbsp;&nbsp{{e['Qte']}}</b> &nbsp;&nbsp; 
                    <b style="position: absolute; right: 5.5%; color: rgb(0, 0, 0); font-size: large; float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Taux de déclin  &nbsp;&nbsp;: </b>
                    <b style="position: absolute; right: 1%; color: rgb(253, 67, 10); font-size: 19px;float: left;">&nbsp;&nbsp;&nbsp;&nbsp;{{(e['Qte'])|int - 50}} &nbsp;  <i class="fa fa-line-chart"></i>  </b>
                </a>
                
        {% endfor %}    
        </ul>
    </div><br><br>
        
        
    
        

      



    <div class="row content">

        <h1 class="sec01">Gestion des produits</h1>
        <a href="/statistiques" target="_blank" class="btn btn-success" style="font-size: 15px;margin-left: 790px;" ><b>Statistiques<i class="fa fa-line-chart"></i> </b></a>

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Nos <b>Produits</b></h2>
                    </div>
                    <div class="col-sm-6 ">
                        <a href="#addproduit" class="btn btn-success cc" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Ajouter un produit</span></a>
                    </div>
                    
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>categorie</th>
                        <th>nom</th>
                        <th>prix</th>
                        <th>Qte</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                    <tr id="table">
                        <td>
                            {{produit['_id']}}                            
                        </td>
                        <td>{{produit['categorie']}}</td>
                        <td>{{produit['nomProduit']}}</td>
                        <td id="{{produit['prix']}}">{{produit['prix']}} DH</td>
                        <td>{{produit['Qte']}}</td>
                        <td>
                            <a href="#" data-target="#m{{produit['_id']}}" class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                            <a href="#" data-target="#s{{produit['_id']}}" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                        </td>

                        <!-- Delete produit form -->
                        <div id="s{{produit['_id']}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="/supProduit/{{produit['_id']}}" method="POST">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Supprimer ce produit</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Voulez-vous vraiment supprimer cet enregistrement?</p>
                                            <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                                            <div class="form-group">
                                                <label>Vous devez entrer l'identifiant (#) du produit que vous souhaitez supprimer pour
                                                    plus de sécurité :</label>
                                                <input type="text" name="idpro" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                            <input type="submit" class="btn btn-danger" value="Supprimer">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Edit produit form  hna fih problem gheda ndero meet lih-->

                        <div id="m{{produit['_id']}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="/editProduit/{{produit['_id']}}" method="POST">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Modifier le produit ({{produit['nomProduit']}})</h4>
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Vous devez entrer l'identifiant (_id) du produit que vous souhaitez modifier pour
                                                    plus de sécurité :</label>
                                                <input type="number" name="id" class="form-control" min=""
                                                    max="" required>
                                            </div>
                                            <div class="form-group">
                                                <label>categorie : </label>
                                                <select class="form-select" name="categorie" aria-label="Default select example">
                                                    <option value="Boissons">Boissons</option>
                                                    <option value="Produits de nettoyage">Produits de nettoyage</option>
                                                    <option value="Ustensiles ménagers">Ustensiles ménagers</option>
                                                    <option value="Nourriture en boîte">Nourriture en boîte</option>
                                                    <option value="Nourriture en boîte">Denrées alimentaires</option>

                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>nom</label>
                                                <input type="text" value="{{produit['nomProduit']}}" name="nomProduit" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>image</label>
                                                <input type="text" name="img" value="{{produit['img']}}" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>prix</label>
                                                <input type="number" name="prix" value="{{produit['prix']}}" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Qte</label>
                                                <input type="number" name="Qte" value="{{produit['Qte']}}" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>description</label>
                                                <input type="text" name="description" value="{{produit['description']}}"  class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                            <input type="submit" class="btn btn-info" value="Modifier">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Add type form -->


        <div id="addproduit" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/addproduit" method="POST">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter un produit</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>categorie : </label>
                                <select name="categorie" class="form-select" aria-label="Default select example" >
                                    <option value="Boissons">Boissons</option>
                                    <option value="Produits de nettoyage">Produits de nettoyage</option>
                                    <option value="Ustensiles ménagers">Ustensiles ménagers</option>
                                    <option value="Nourriture en boîte">Nourriture en boîte</option>
                                    <option value="Nourriture en boîte">Denrées alimentaires</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label>nom</label>
                                <input type="text"  name="nomProduit" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>image</label>
                                <input type="text" name="img" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>prix</label>
                                <input type="number" name="prix" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Qte</label>
                                <input type="number" name="Qte" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>description</label>
                                <input type="text" name="description" class="form-control" required>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                            <input type="submit" class="btn btn-success" value="Ajouter">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        

        



        <!-- admins table -->

        <h1 class="sec02">Gestion des admins</h1>


        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Nos <b>Admins</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addadmin" class="btn btn-success" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Ajouter un admin</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in admins %}
                    <tr>
                        <td>{{admin['_id']}}</td>
                        <td>{{admin['prenom']}}</td>
                        <td>{{admin['nom']}}</td>
                        <td>{{admin['gmail']}}</td>
                        <td>
                            <a href="#" data-target="#b{{admin['_id']}}" class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                            <a href="#" data-target="#C{{admin['_id']}}" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                        </td>
                    </tr>

                    <!-- Delete admin form -->

                    <div id="C{{admin['_id']}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/supAdmin/{{admin['_id']}}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Supprimer l'admin</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="form-group">
                                        <label>Vous devez entrer l'identifiant  d'admin que vous souhaitez supprimer pour
                                            plus de sécurité :</label>
                                        <input type="text" name="idadmin" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Vous devez entrer le mot de pass d'admin que vous souhaitez supprimer pour
                                            plus de confiance : :</label>
                                        <input type="password" name="password" class="form-control" required>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                        <input type="submit" class="btn btn-danger" value="Supprimer">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Edit admin form -->

                    <div id="b{{admin['_id']}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/editAdmin/{{admin['_id']}}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modifier les informations de l'admin</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Vous devez entrer l'identifiant (_id) d'Admin que vous souhaitez modifier pour
                                                plus de sécurité :</label>
                                            <input type="number" name="id" class="form-control" min=""
                                                max="" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="text" value="{{admin['nom']}}" name="nom" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>prenom</label>
                                            <input type="text" value="{{admin['prenom']}}" name="prenom" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>email</label>
                                            <input type="text" value="{{admin['gmail']}}" name="gmail" class="form-control" required>
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                        <input type="submit" class="btn btn-success" value="Modifier">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Add admin form -->

        <div id="addadmin" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/addAdmin" method="POST">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter un admin</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" name="nom" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>prenom</label>
                                <input type="text" name="prenom" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>email</label>
                                <input type="text" name="gmail" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                            <input type="submit" class="btn btn-success" value="Ajouter">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        

        
    </div>

    
    <!-- footer -->

    <footer class="fixed_footer">
        <div class="content">
            <div>
                <div class="titre">À propos</div>Font partie d'un mini projet de mongoDB réalisé par <a
                    href="/team">  ELAAROUB Abdellah & DAMOU Walid</a> de <a href="https://uca.ma/este" target="_blank">l'école
                    supérieure de technologie d'Essaouira</a>, afin de mettre en place une base de données complète et
                solide pour les projets de gestion de stock. <br><br>

            </div>
            <div>
                <div class="titre">Technologies</div> FRONT : html5, css3, bootstrap, javascript, jquery. <br>BACK
                : python, flask. &nbsp; &nbsp; DBNS : mongoDB. <br><br>
            </div>
        </div>
        

    </footer>


    <!--Jquery, AJAX, bootstrap et mon fichier de javascript-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <script type="text/javascript" src="produit.json"></script>

</body>

</html>