<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/statistique.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.jpg">
    <title>Statistique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);
      function drawStuff() {
        var encodedStr ="{{b}}";
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + encodedStr,'text/html');
        var decodedString = dom.body.textContent;
        decodedString=decodedString.slice(1,-1);
        console.log(decodedString)
        var obj=JSON.parse(decodedString);
        console.log(obj)
        var arr=Object.entries(obj);
        var data = google.visualization.arrayToDataTable(arr);

        var options = {
          width: 800,
          legend: { position: 'none' },
          chart: {
            title: 'Created by :',
            subtitle: 'ELAAROUB Abdellah & DAMOU Walid' },
          axes: {
            x: {
              0: { side: 'top', label: 'Statistiques des catégories'} // Top x-axis.
            }
          },
          bar: { groupWidth: "70%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));

        



      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() {
        var encodedStr ="{{a}}";
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + encodedStr,'text/html');
        var decodedString = dom.body.textContent;
        decodedString=decodedString.slice(1,-1);
        console.log(decodedString)
        var obj=JSON.parse(decodedString);
        console.log(obj)
        var arr=Object.entries(obj);
        var data = google.visualization.arrayToDataTable(arr);

        var options = {
          title: 'Statistique de chaque categorie'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }


      };
    </script>
  </head>
  <body style="background-color: #e4e4cb57; " >
    

    <header class="main_h">

      <div class="row">
          <a class="logout" href="/logout"><i class="fa fa-sign-out"></i></i></a>

          <div class="mobile-toggle">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <nav>
              <ul>
                   
                  <li><a href=".sec03">Notifications</a></li>
                  <li><a href=".sec01">Produits</a></li>
                  <li><a href=".sec02">admins</a></li>
                  
              </ul>
          </nav>

      </div>

  </header>

  <div class="hero">

      <h1><span>bienvenue dans l'espace Statistiques</span><br>{{nomAdmin}}</h1>
      <div style="margin: auto; width: 140px; height: 170px;">
          <img style="width: 100%;border-radius: 5px; height: 100%; position: relative;" src="/static/images/{{imgAdmin}}" alt="">
      </div>

      <div class="mouse">
          <span></span>
      </div>

  </div>
<br><br>

    <p style="color: rgb(20, 0, 75); font-family: 'Times New Roman', Times, serif; font-size: 26px; font-weight: bold;">
      <marquee behavior="" direction="">
        Ce projet a été réalisé par deux étudiants <b> ELAAROUB Abdellah</b> et <b>DAMOU Walid</b>, 
        c'était dans le but d'appliquer ce que nous avons appris lors des séances de mongoDB dans l
        e module base de données avancées, et nous avons construit avec succès une application Web intégrée 
        et nous remercions notre professeur.
      </marquee>
      
    </p>
    <div style="position: absolute; left: 30%;">
      <p style="text-decoration: underline; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
        Bare Format :
      </p>
    </div>
      
      <div class="sec01" id="top_x_div" style="width: 800px; height: 600px; margin: auto; margin-top: 100px; background-color: aqua;"></div><br><br>
      
      <div style="position: absolute; left: 30%;">
        <p style="text-decoration: underline; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
          Pie Format :
        </p>
      </div><br><br><br>

      <div class="sec02" id="piechart" style="width: 800px; height: 600px; margin: auto;margin-bottom: 10%;"></div>
    
      
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
      
    </style>
     <!-------------------------------------------------Footer--------------------------------------------------------->
    <footer class="page-footer font-small elegant-color-dark pt-4" >

      <!--------------------------------------------------Footer_Links------------------------------------------------>
      <div class="container-fluid text-center text-md-left">

        <!--------------------------------------------------Grid_row-------------------------------------------------->
        <div class="row">

          

          <hr class="clearfix w-100 d-md-none pb-3">

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3" style="margin-left: 20%; font-size: 12px;">
            <h4 class="text-uppercase text-light Bold text">Contact</h4>
            
            <ul class="list-unstyled">
              <li>
                <a href="#!"><i class="fas fa-map-marker-alt"><br><br>Km 9, Route d'Agadir, Essaouira Aljadida BP. 383, Essaouira -</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-phone">  <br><br>+212 696 628 710<br>+212 524 244 192</i></a>
              </li><br>

              <li>
                <a href="#!"><i class="fas fa-envelope"><br><br>este@uca.ac.ma</i></a>
              </li>
            </ul>
          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

          <!--------------------------------------------------Grid_column---------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-3" style="margin-left: 20%;font-size: 12px;"">
            
            <h4 class="text-uppercase text-light Bold text">Suivez-nous</h4>
            <br><br>
            <ul class="list-unstyled d-flex justify-content-around">
              <li>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <br>
              <li>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
            </ul>

          </div>
          <!--------------------------------------------------/Grid_column---------------------------------------------->

        </div>
        <!--------------------------------------------------Grid_row-------------------------------------------------->

      </div>
      <!--------------------------------------------------/Footer_Links------------------------------------------------>
      <hr class="stylish-color-dark mx-auto" width="1000px" style="margin: auto;">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 elegant-color-dark" style="font-size: 20px;"">© 2021 Copyright: by:Walid DAMOU et Abdellah ELAAROUB</div>
      <!-- Copyright -->
    </footer>
    <!-------------------------------------------------Footer--------------------------------------------------------->
</body>

</html>





